p.home-deliveries {
    margin-top: 20px;
    color: #FFF100;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "tnum";
}

button > a {
    text-decoration: none;
    color: black;
}

#footer {
    padding-top: 1em;
}

footer > a {
    text-decoration: none;
}

.bolder {
    font-weight: bolder;
}

img.menu-img-headroom {
    margin-top: 20px;
}

.front-page-buttons > h4,
.front-page-buttons > i {
    color: rgb(62, 63, 58);
}

.btn > h4,
.btn > h4 > i {
    color: black;
}

div.white > address,
div.white > a.white,
div.white > h3 {
    color: white;
}

.white {
    color: white;
}


.navbar-brand,{
    padding-top: 0;
    color: hsla(0, 0, 100, 0.95) !important;
} 

/*Old focalise rules*/

/* div.col-sm-12.hero-text {
    padding: 100px;
} */

h1.massive-text {
    font-size: 500%;
    font-weight: bold;
}

/* .jumbotron > .brand {
    font-size: 57px;
} */

.primary-color-background {
    background-color: #2c3e50;
}

div#welcome-background {
    padding-top: 100px;
    background-color: #ed2b67;
    margin-bottom: 0;
    /*width: 100%;*/
    /* background-image: url('../img/spice.jpg'); */
    /* background: url("../img/spice.jpg") no-repeat center center fixed; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: 0 -330px; */
}


#menu {
    margin-top: 6em;
}


div#menu-hero-background {
    /*width: 100%;*/
    background-image: url('../img/menubanner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 -251px;
}

section#quote {
    padding-top: 3em;
    padding-bottom: 3em;
    /* background-color: #FFA700; */
    /* background-color: #d7c501; */
    background-color: #fff100;
}

.branch-location {
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}


.small-front-page-hero {
    background-image: url('../img/spice.jpg');
    background-position: -6px -545px;
}

.small-front-page-hero > div > div > div > img {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.focaliselink {
    margin-top: 40px;
    color: #FDC140;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    opacity: .75;
    margin-bottom: 20px;
}

.focaliselink:hover {
    opacity: 1;
}

.focaliselink > a {
    text-decoration: none;
}

.small-hero-image {
    display: inline;
}

i.icons {
    padding: 20px;
}

#about-header > div > div > div > div > h1 {
    margin-top: 900px;
    color: white;
    text-shadow: 0px 3px 11px rgba(150, 150, 150, 0.71);
}


.m-t-1 {
    margin-top: 1rem;
}

.special-price {
    font-weight: bolder;
}

div.button-row {
    padding-top: 100px;
}

section#specialsthisweek {
    /*background-color: rgba(252, 172, 0, 0.75);*/
    /*background-color: #FFAE00;*/
    background-color: #FFA700;
    padding-top: 2rem;
}

section#about-text {
    padding-top: 3em;
    padding-bottom: 3em;
    /* background-color: rgba(252, 172, 0, 0.75); */
    background-color: #FFF100;
}

div.homedeliveries {
    background-color: #222;
}

body > div.row.homedeliveries > div > p {
    color: white;
    margin-top: 15px;
}

button.front-page-button > h4,
button.front-page-button > h4 > i {
    color: #222222;
}

div#footer {
    background-color: #222;
}

.address > p {
    margin-bottom: auto;
}

.bold {
    font-weight: bold;
}

.hero-header-text > h1 {
    font-size: 3.157em;
    text-transform: lowercase;
    font-weight: bolder;
    /* color: #222222; */
    color: #fff100;
    margin-bottom: 0;
}

.hero-header-text > h2 {
    font-size: 2.369em;
    font-weight: 700;
    color: #fff100;
}

p.tagline {
    margin-top: 0.75em;
    text-transform: uppercase;
    /* font-weight: lighter; */
    letter-spacing: 0.025em;
    font-size:  1.333em;
    font-weight: 700;
}

.white {
    color: white;
}

.bold-white {
    font-weight: bold;
    color: white;
}

h1.bold-white,
i.bold-white,
h2.bold-white {
    font-weight: bold;
    color: white;
}

section#find-us-hero {
    margin-top: 40px;
    margin-bottom: 20px;
}


a.order-now-button 
{
margin-bottom: 2em;
}

div.closing-banner {
    background-color: #c0392b;
    color: white;
    font-size: 17px;
    padding-top: 20px;
    /* margin-top: 76px; */
    padding-bottom: 8px;
    display: block;
    margin-bottom: 97px;
    position: absolute;
    z-index: 4000;
    width: 100%;
    top: 0;
    /* top: 0; */
}

.blockquote-reverse {
    border-color: #F1E3B6;
}

h2#company {
    font-weight: bold;
    margin-top: 0;
}

h1.hero-header-text {
    font-size: 54px;
    margin-bottom: 0;
}

.phonenumbers > h2 {
    font-size: 24px;
}

.branch-phone-number {
    margin-top: 1em;
    margin-bottom: 1em;
}

section.phones {
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #222222;
    color: white;
}

.phone-numbers {
    font-size: 1.25em;
}

span.location {
    font-size: 50%;
    opacity: 0.8;
}

.menu-section-header-text {
    color: #ed2b67;
    font-weight: bolder;
}

@media (min-width: 979px) {
    #mynav.affix-top {
        position: static;
        margin-top: 30px;
        width: 150px;
    }
    #mynav.affix {
        position: fixed;
        top: 100px;
        width: 150px;
    }
}

#mynav li.active a {
    background-color: rgb(147, 197, 75);
    color: white;
}
.dl-horizontal dt {
    width: 195px;
}

.catering-jumbotron {
    background: #ed2b67;
}

.catering-jumbotron > .container > h1 {
    font-weight: bold;
    color: yellow;
}

img.catering-img {
    margin-top: -30px;
}


.dl-horizontal dd {
    margin-left: 214px;
}

#mynav li {
    margin-bottom: 10px;
}

.nav-link {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.030em;
}

.navbar-brand {
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: .025em;
}
.btn {
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    letter-spacing: .025em;
    font-weight: 700;
    border: 0;
}


section.main-buttons > div > ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

section.main-buttons > div > ul > li {
    display: inline-block;
    margin-right: 2em;
}

section.main-buttons {
    /* padding-top: 2em; */
    padding-bottom: 3em;
    background-color: #222222;
}

.find-us-footer {
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}

.footer-opening-hours {
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}

.home-deliveries {
    margin-top: 0 !important;
    margin-bottom: 2em;
}

.bg-dark {
    background-color: #222222 !important;
}

.map-title {
    color: white;
}

.special-category {
    text-transform: uppercase;
    color: #756f0b !important;
}

section.specials {
    background-color: #FFF100;
    padding-top: 3em;
    padding-bottom: 3em;
}

.branch-specials {
    padding-top: 2em;
}